body {
    background-color: #eafaf1;
}

.card-header {
    background-color: #198754;
    color: #ffffff;
    text-align: center;
}

.card-header h4 {
    font-size: 1.8rem;
    margin: 0;
}

.btn {
    background-color: #198754;
    color: #ffffff;
    border: none;
}

.btn:hover {
    background-color: #157347;
}